.footer-end {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 2.5rem; 
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #e5edef;
	padding: 30px;
	color: #222;

}

p {
	margin: 0;
}
